@import "tailwindcss";

/* LIGHT MODE */
:root {
    --background: #F5F5F5;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-teste: #c23b3b;
    --color-chumbo: #333333;
    --color-neutral: #F5F5F5;
    --color-text-light-1: #6a7282;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-jakarta), sans-serif;
}

/* CORES PADRAO */
@layer base {
    :root {
        --color-primary: #000000;
        --color-secondary: #252525;
        --color-neutral: #F5F5F5;
        --color-light: #FFFFFF;
    }
}

@layer utilities {

    /* Backgrounds */
    .bg-primary {
        background-color: var(--color-primary);
    }

    .bg-secondary {
        background-color: var(--color-secondary);
    }

    .bg-neutral {
        background-color: var(--color-neutral);
    }

    .bg-white {
        background-color: var(--color-light);
    }

    /* Texts */
    .text-primary {
        color: var(--color-primary);
    }

    .text-secondary {
        color: var(--color-secondary);
    }

    .text-on-dark {
        /* Para texto claro sobre fundo escuro */
        color: var(--color-light);
    }

    /* Borders */
    .border-primary {
        border-color: var(--color-primary);
    }

    .border-secondary {
        border-color: var(--color-secondary);
    }

    .border-neutral {
        border-color: var(--color-neutral);
    }
}

td, tr, th {
    border: 1px solid #e5e5e5;
    background: var(--color-light);
}

th {}

td,th {
    height: 36px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}